.git
.gitignore
.dockerignore
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
frontend/
backend/db.sqlite3
backend/.env
backend/.env.local
backend/media/
.vscode/
.idea/
*.log
moomeen-ecommerce.code-workspace
