DJANGO_DEBUG=true
DJANGO_SECRET_KEY=htv^$4b8(%#3@oh7g1torvh=5&18$c_r*a9z!&2yq55!oyq&q7
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Required when DJANGO_DEBUG=false
DJANGO_CSRF_TRUSTED_ORIGINS=https://example.com
POSTGRES_DB=moomeen
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Fharook@123
POSTGRES_HOST=localhost
POSTGRES_PORT=5432