asgiref==3.12.1
Django==6.1.1
gunicorn==23.0.0
pillow==12.3.0
python-dotenv==1.1.1
psycopg==3.3.5
psycopg-binary==3.3.5
sqlparse==0.6.0
tzdata==2026.3
django-storages[google]==1.14.4
dj-database-url==2.3.0
whitenoise==6.9.0
